---
layout: default
title: Posts
date: 2016-08-5
---

<div class="home">

  <div class="post-list">
    {% for post in site.posts %}
    <div class="post-list-entry">

      <hr>
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>

      <p>
          {{ post.content | truncatewords: 77 | strip_html }}
        <a href="{{ post.url | prepend: site.baseurl }}"> (More...)</a>
      </p>

      <div class="post-meta">
        <div class="row">
          <div class="col-md-3">
            <span class="badge alert-success">
              Posted at {{ post.date | date: "%b %-d, %Y" }}
            </span>
          </div>

          <div class="col-md-9 text-right">
            <i class="glyphicon glyphicon-tag"></i>
            {% for tag in post.tags %}
            <a href=""><span class="badge alert-info">{{ tag }}</span></a>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
    {% endfor %}
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
