<footer class="site-footer">
  <hr>

  <section class="navigation-links">
    <!-- NOTE: Manually arrange pages as 'site.pages' are not sorted. -->
    <a class="page-link" href="{{ site.baseurl }}/">Home</a>
    • <a class="page-link" href="{{ '/tags/tech' | prepend: site.baseurl }}">Blog</a>
    • <a class="page-link" href="{{ '/tags' | prepend: site.baseurl }}">Tags</a>
    • <a class="page-link" href="{{ '/wiki' | prepend: site.baseurl }}">Wiki</a>
    • <a class="page-link" href="{{ '/contact' | prepend: site.baseurl }}">Contact Me</a>
    • <a class="page-link" href="{{ '/search' | prepend: site.baseurl }}">Search</a>
  </section>
  <section class="copyright">
    All content copyright <a href="{{ '/contact' | prepend: site.baseurl }}">{{ site.author_name }}</a> &copy; {{ site.time | date: '%Y' }}
    &bull; All rights reserved.
  </section>
</footer>
