
$baseurl: '{{ site.baseurl }}';
$grey-color: #828282;

@import 'tufte';
@import 'syntax-highlighting';

main {
  margin-top: 20px;
}

amp-img {
  background-color: grey;
}

article {
  padding: 2.5rem 0;
}

header {
  margin-top: 20px;
}

.post-meta {
  margin-top: 10px;
}

pre {
  width: 52.5%;
  padding-left: 2.5%;
  overflow-x: auto;
}

@media (max-width: 760px) {
  pre {
    width: 90%;
    padding: 0;
  }
}

/***** tufte tweaks *****/

/* the kramdown processor used by Github output <code> tag instead of .code
class and thus we need to convert .code styles in tufte to code tag styles */
code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.125rem;
  line-height: 1.6;
}

h1 code, h2 code, h3 code { font-size: 0.80em; }

.marginnote code, .sidenote code { font-size: 1rem; }

@media screen and (max-width: 760px) {
                                       pre code { width: 87.5%; }
                                      }
pre code { width: 52.5%;
           padding-left: 2.5%;
           overflow-x: auto; }

/* p is generally confined to 55% width, which is ok in general. unfortunately
for listed paragraphs (<li><p> style), this yields very narrow paragraphs. */
li p {
    width: 100%;
}

/***** my custom styles *****/

#main-box {
    margin-top: 0%;
    #name-box {
        span {
            font-size: 2em;
        }
        #name {
            font-size: 8em;
        }
    }

    #motto {
        margin-left: 3%;
        font-size: 1.6em;
    }

    #about-box {
        margin: 6em 0 0 1%;

        hr {
            margin: 0 0 2em 22%;
            width: 6em;
        }
    }
}

.post-list-entry {
    padding-top: 1em;
}

.post-list-nav {
    margin-top: 6em;
    .pagination {
        float: left;
    }

    .rss-subscribe {
        float: right;
        margin-right: 45%;
    }
}

.post-article {
    .article-tombstone {
        direction: rtl;
        font-size: 2.5em;
    }

    .article-footer {
        width: 55%;

        .post-tags {
            float: left;
        }

        .post-comment-link {
            float: right;
        }
    }
}

/** Tweak quotes **/
blockquote p {
    // p has 1.4rem
    font-size: 1.2rem;
    // Use the negative spread trick to have on-side only shadow
    // NOTE: pre.highlight code gets easier for overflow hidden the other 3 sides
    // padding for shadow, margin to compensate the extra shift
    box-shadow: -10px 0 10px -10px #9c9c9c;
    padding-left: 1em;
    margin-left: -1em;
}

/** Tweak code block style **/

pre.highlight {
    /* NOTE: 'auto' to adjust to the existence of sidenote block */
    width: auto;
    /* NOTE: add a gap between sidenote block and code block */
    padding-right: 2.5%;
    /* NOTE: not too long when there is no sidenote block */
    margin-right: 10%;
    code {
        width: auto;
        display: block;
        box-shadow: -5px 0 10px #9c9c9c;
        font-size: inherit;
    }
}

 /* TODO bad style, 35% is in line with <hr>'s 65% width, factor these styles using SCSS vars  */
