---
layout: default
---

{% include header.html %}

<article>

  <h2 itemprop="name">
    <a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">{{ page.title }}</a>
  </h2>

  <div class="post-meta">
    <time datetime="{{ page.date | date_to_long_string }}">
      {{ page.date | date_to_long_string }}
    </time>
    {% if page.last_modified_at %}
    • <i>Updated at </i>
    <time datetime="{{ page.last_modified_at | date_to_long_string }}">
      {{ page.last_modified_at | date_to_long_string }}
    </time>
    {% endif %}
  </div>

  <section>
    {{content}}
    <p class="article-tombstone" style="direction: rtl; font-size: 2.5em"><br>∎</p>
  </section>

  <div class="article-footer" style="width: 55%">
    <div class="post-tags" style="float: left">
      <b> Tags </b>
      {% for tag in page.tags %}
      • <a href="/tags/{{ tag }}"><span>{{ tag }}</span></a>
      {% endfor %}
    </div>
    <div class="post-comment-link" style="float: right" >
      <b>Comment</b>:
      <a href="{{ site.site_repo }}/issues/new" target="_blank">Github Issue</a>
    </div>
  </div>

</article>

{% include footer.html %}
